/* source keypos definitions */
#include "../zmk-nodefree-config/keypos_def/keypos_sugarglider.h"

/* map Sugar Glider's extra keys */
#define X_LT  &kp ESC
#define X_RT  &kp BACKSLASH

#define X_LM    &kp Q
#define X_MT    &kp N2 &kp N2 &kp N2     //Three mini 4 pin switches 
#define X_RM    &kp BSPC

#define X_LB    &kp N1
#define X_MB    &kp N2 //unknown key (touchpad touch?)
#define X_RB    &kp N3

#define X_LH    &kp X &smart_mouse      //Left Encoder key, left most thumb key
#define X_MH    &kp N2 &kp N3 &kp N4    //Mouse keys 
#define X_RH    &bs_del &kp Z           // Right-most thumb key,  Right ecoder key

/* activate bluetooth */
// #define CONFIG_WIRELESS 1

/* source the main keymap */
#include "base.keymap"

/* use 5-column layout for Zen */
// { chosen { zmk,matrix_transform = &five_column_transform; }; };