/* source keypos definitions */
#include "../zmk-nodefree-config/keypos_def/keypos_sugarglider.h"

/* map Sugar Glider's extra keys */
#define X_LT  &kp ESC
#define X_RT  &kp BACKSLASH

#define X_LM    &kp Q
#define X_MT    &kp T &kp T &kp T     //Three mini 4 pin buttons 
#define X_RM    &kp BSPC

#define X_LB    &kp N1
#define X_MB    &kp N2
#define X_RB    &kp N3

#define X_LH    &kp X 
#define X_MH    &none &none &none
#define X_RH    &kp Z
// #define X_LH  &smart_mouse  // thumb row, left
// #define X_RH  &bs_del       // thumb row, right

/* activate bluetooth */
// #define CONFIG_WIRELESS 1

/* source the main keymap */
#include "base.keymap"

/* use 5-column layout for Zen */
// { chosen { zmk,matrix_transform = &five_column_transform; }; };